.App {
  text-align: center;
  background-color: #30353d;
  min-height: 100vh;
}

.App-header {
  padding-top: 1.5%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
